  body{  
    font-size: 20px;
    background-image:url("../images/background\ img4.jpg");
    background-size: cover;
}

h2 {
    text-align: center;
    color: blue;
}

.container {
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
}

img {
    float: right;
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img :hover {
    transform: scale(1.3);
}

nav ul li a {
   text-decoration: none;
   color: rgb(9, 1, 19);
   font-size: 1.5em;
   border-bottom: 2px solid pink;
   border-right: 2px solid pink;
   background-color: rgba(77, 10, 134,0.2);
   float:left;
   margin: 5px;
   box-shadow: 4px 4px 5px #888888;
   
}

nav li {
    list-style: none;
}

form {
  text-align: center;
     color: black;   
}*/
/*  
body {
    font: 'Raleway',sans-serif;
    color: rbga(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
     background: linear-gradient(to right,red,yellow ); 
} */
